.monster-list {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.monster-list__list {
    flex: 0 1 auto;
    height: 100%;
}

.monster-list__item {
    display: block;
    height: 32px;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}

.monster-list__item + .monster-list__item {
    border-top: solid 1px #aaa;
}

.monster-list__name {
    width: 40%;
    padding: 3px 5px;
}

.monster-list__type {
    width: 35%;
    padding: 3px 5px;
}

.monster-list__cr {
    width: 10%;
    padding: 3px 5px;
}

.monster-list__source {
    width: 15%;
    padding: 3px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}
